* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
}

/* Global styles */
body {
  line-height: 1.6;
}

#index-main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

header {
  background-color: transparent;
  padding: 1rem;
  flex: top;
  justify-content: top;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  height: 100vh;
  scroll-snap-align: start;
}

.hero {
  background-image: url("images/_DSC1971.JPG");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  font-weight: lighter;
}

.hero h1 {
  margin-top: 5vh;
}

.btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
}

.sidebar {
  width: 200px;
  /* Adjust width as needed */
  background-color: #f4f4f4;
  padding: 20px;
  margin: none;
}

.sidebar a {
  display: block;
  /* Display links as block elements */
  color: #333;
  text-decoration: none;
  padding: 10px 0;
}

.container {
  display: flex;
}

.sidebar {
  width: 200px;
  height: 100%;
  background-color: #f4f4f4;
  position: fixed;
  top: 0;
  left: -200px;
  transition: left 0.3s ease;
}

.sidebar.open {
  left: 0;
  z-index: 900;
}

.container.open {
  margin-left: 0;
}

.open-btn {
  position: fixed;
  top: 5px;
  left: 10px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 999;
  font-size: 24px;
}

.open-btn span {
  font-size: 16px;
}

.courses-begin {
  text-align: center;
  height: 150px;
}



.intro {
  width: 100%;
  background-color: #d1cdcb;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
}

.intro-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.intro-img-container img {
  width: 70%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
}

.intro-text-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 35px;
}

.courses-hero {
  background-image: url("images/_DSC3740.JPG");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  font-weight: lighter;
}

.index-courses{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeee4;
}

.index-courses-nav {
  width: 50%;
  height: 50vh;
  background-image: url("images/DSC_3209.JPG");
  background-size:cover ;
}