* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
  }

/* Global styles */
body {
  line-height: 1.6;

}

header {
  background-color: transparent;
  padding: 1rem;
  flex:top;
  justify-content:top;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;

}

nav ul li {
  margin-right: 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}


.hero {
  background-image: url('images/_DSC1971.JPG');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  font-weight: lighter;
}

.hero h1{
    margin-top: 5vh

}
.btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
}

.sidebar {
     width: 200px; /* Adjust width as needed */
     background-color: #f4f4f4;
     padding: 20px;
     margin: none;
}

 .sidebar a {
     display: block; /* Display links as block elements */
     color: #333;
     text-decoration: none;
     padding: 10px 0;
 }

.container{
    display: flex;


}

.sidebar {
    width: 200px;
    height: 100%;
    background-color: #f4f4f4;
    position: fixed;
    top: 0;
    left: -200px;
    transition: left 0.3s ease;
    }

.sidebar.open {
    left: 0;
    z-index: 900;
    }

.container.open {
            margin-left: 0;
        }

.open-btn {
            position: fixed;
            top: 5px;
            left: 10px;
            padding: 10px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            z-index: 999;
            font-size: 24px;
        }

.open-btn span {
            font-size: 16px;

}

.courses-begin{
            text-align:center;
            height:150px;
}

#scrollBtn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    font-size: 24px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    top: 8%
}

#scrollBtn:hover {
    background-color: #555;
}

.courses{
      background-image: url('images/_DSC1971.JPG');
      background-size: cover;
      background-position: center;
      height: 620px;


}

.main-content{
	  height: 1260px;
	  background-color: #ebdfd8;
}


.intro img{
       width:40%;
       height:auto;
       float:left;
       margin-left:5%;
       margin-right:5%;


}

.intro{
    width:100%;
    background-color: #d1cdcb;
    overflow:hidden;
    margin: 0 auto;
    height: 100vh;
}

.intro h1{
    text-align:center;
    font-weight: lighter;

}

.main-content hr {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 40%;
  margin-right: 40%;
  border-style: inset;
  border-bottom: 0.5px solid black;
}